*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #5B99C2;
    height: 60px;
    line-height: 60px;
}

.choices{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices:hover{
    background-color: black;

}

img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}


.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    gap: 30px;
}

#your-score, #comp-score{
    font-size: 40px;
}

.message{
    margin-top: 30px;

}

#msg{
    background-color: #5B99C2;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: inline;
    padding: 10px;
    border-radius: 8px;
}

